{% extends 'base.html' %}

{% block main %}


<style>

    .p1{
        color: rgb(0, 0, 0);
        font-size: 25px;
        width: 700px;
        height: 200px;
    }

    .p2{
        color: rgb(0, 0, 0);
        font-size: 25px;
        width: 700px;
        height: 200px;
    }
    
    
</style>
    


<div class="content" >
    <h1>Welcome</h1>
    <p class="p1">Please dont think this a scam website.all this items are from walmart,
    one of the most trusted companies in online shopping with thousands of customers a day.
    and we took the time to show you the best laptops and tvs and if you're interested in buying and walmart 
    is available in your country,please proceed to do so,and dont think we are scamming you.

    you can find the best laptops and tvs here.

   </p>

   <p class="p1">
    you can find the best laptops and tvs here.

    more items coming soon.

   </p>

</div>


{% endblock %}