{% extends 'base.html' %}

{% block main %}


<div class="row1">
    <div class="content" >
        <di class="lap1">
            <img src="https://i5.walmartimages.com/asr/c0599b25-10ac-4d96-bca2-6c2b2a5ecf82.9daf8029c8bf6826f0065e1ade7ecfa8.jpeg" alt="">
            <a href="https://bit.ly/3Dg3FCH">Continue</a>
        </di>
    </div>
    <div class="content" >
        <di class="lap2">
            <img src="https://i5.walmartimages.com/asr/e464cefe-fa19-4445-ae6c-7e402dac8025.21b79e38ee0a6a9ebbcb16d8e5c51e51.jpeg" alt="">
            <a href="https://bit.ly/3z6tXGa">Continue</a>
        </di>
    </div>
    <div class="content" >
        <di class="lap3">
            <img src="https://i5.walmartimages.com/asr/ef300fba-34ec-44cb-80b5-57ac874a19f9.cc50e0add7e30cabc6e6dca323d95099.jpeg" alt="">
            <a href="https://bit.ly/3TEP8GU">Continue</a>
        </di>
    </div>
    <div class="content" >
        <di class="lap4">
            <img src="https://i5.walmartimages.com/asr/6dd952b3-a2f0-49de-8598-fc0dce24c4ce.7ab6e5b54e52d8fdbdb91a9c9d85bbf3.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF" alt="">
            <a href="https://bit.ly/3TH75Vs">Continue</a>
        </di>
    </div>
    <div class="content" >
        <di class="lap5">
            <img src="https://i5.walmartimages.com/asr/043f013d-da47-4e2f-ab88-35fd77a6f003.94a3c1972776998c74d341b94970ecf4.png?odnHeight=612&odnWidth=612&odnBg=FFFFFF" alt="">
            <a href="https://bit.ly/3Fm4nB1">Continue</a>
        </di>
    </div>
</div>

<!----------------------------------------------------------------------------------------------------------------------------------------------------------------------> 

<div class="row2">
    <div class="content" >
        <di class="lap1">
            <img src="https://i5.walmartimages.com/asr/9d988eb5-affe-475d-95c7-b11cf5dc262a.ecd47d553f1e4cf4c5d6d0f3f17e14ba.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF" alt="">
            <a href="https://bit.ly/3yZi2cT">Continue</a>
        </di>
    </div>
    <div class="content" >
        <di class="lap2">
            <img src="https://i5.walmartimages.com/asr/7c1147f0-e2d1-4fea-9f7d-0387ffd2d462.0e1cdd9282c024dd2aae089989dc8bc2.jpeg" alt="">
            <a href="https://bit.ly/3eUz4lO">Continue</a>
        </di>
    </div>
    <div class="content" >
        <di class="lap3">
            <img src="https://i5.walmartimages.com/asr/edadc29a-dfff-4b2a-a434-0e033f4a9bd8.32e863aeec55d280aa795ccedca74852.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF" alt="">
            <a href="https://bit.ly/3glcmDG">Continue</a>
        </di>
    </div>
    <div class="content" >
        <di class="lap4">
            <img src="https://i5.walmartimages.com/asr/66818935-989c-4ea2-8fa9-4759516e6ca6.923b7f1aa0de4178cd8cb49155bbee61.jpeg" alt="">
            <a href="https://bit.ly/3eU4w3D">Continue</a>
        </di>
    </div>
    <div class="content" >
        <di class="lap5">
            <img src="https://i5.walmartimages.com/asr/8c6aab2c-1489-4a68-ac57-63ef7241279f.a14edd3e85695bc47d63e2d944627bc7.jpeg" alt="">
            <a href="https://bit.ly/3MRTIj6">Continue</a>
        </di>
    </div>
</div>

<!----------------------------------------------------------------------------------------------------------------------------------------------------------------------> 

<div class="row3">
    <div class="content" >
        <di class="lap1">
            <img src="https://i5.walmartimages.com/asr/67c99ecc-c070-43f6-a7d3-97a862055bcf.b6776ac80148763b1ac9e2d338934428.jpeg" alt="">
            <a href="https://bit.ly/3THwVso">Continue</a>
        </di>
    </div>
    <div class="content" >
        <di class="lap2">
            <img src="https://i5.walmartimages.com/asr/442842c3-bc11-43f5-bb3e-280966d01eb6.c40b4cf877b3ff527ddbd0cb66c6bcce.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF" alt="">
            <a href="https://bit.ly/3z4hGls">Continue</a>
        </di>
    </div>
    <div class="content" >
        <di class="lap3">
            <img src="https://i5.walmartimages.com/asr/9f21352c-0590-49fc-9443-23619acdd955.fa9d970f2c4ded75b7cff4789ff321e6.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF" alt="">
            <a href="https://bit.ly/3N2oIgs">Continue</a>
        </di>
    </div>
    <div class="content" >
        <di class="lap4">
            <img src="https://i5.walmartimages.com/asr/be249a0d-603b-4789-be64-7f991b1f68a2.6d273a2fc275e18e6bf3957822f983f4.jpeg" alt="">
            <a href="https://bit.ly/3VS3qWU">Continue</a>
        </di>
    </div>
    <div class="content" >
        <di class="lap5">
            <img src="https://i5.walmartimages.com/asr/78e6e71f-9904-4208-90ee-32f3df02222d.31ba16193564683e9520d17c0e683329.jpeg" alt="">
            <a href="https://bit.ly/3sCNqux">Continue</a>
        </di>
    </div>
</div>



<!----------------------------------------------------------------------------------------------------------------------------------------------------------------------> 

<div class="row4">
    <div class="content" >
        <di class="lap1">
            <img src="https://i5.walmartimages.com/asr/0142fe55-b23c-4577-bf02-5aae8dcd86cf.17095daa650565c65b7ca12734ab0dbe.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF" alt="">
            <a href="https://bit.ly/3Dlku00">Continue</a>
        </di>
    </div>
    <div class="content" >
        <di class="lap2">
            <img src="https://i5.walmartimages.com/asr/58cff2b8-76d1-4e32-8cef-c6d08967d266.0f4ab432d0a96fd636284c946223241d.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF" alt="">
            <a href="https://bit.ly/3shXjgP">Continue</a>
        </di>
    </div>
    <div class="content" >
        <di class="lap3">
            <img src="https://i5.walmartimages.com/asr/f27e9ca7-bb2f-46a4-b474-936cf24bc205.e50502d92c2021cf0d7c0f807874586a.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF" alt="">
            <a href="https://bit.ly/3MWeuOH">Continue</a>
        </di>
    </div>
    <div class="content" >
        <di class="lap4">
            <img src="https://i5.walmartimages.com/asr/49bab7c5-fdf7-4ce6-a041-f4518b918338.54e916c89b4c52a747a0121b5ba3617d.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF" alt="">
            <a href="https://bit.ly/3skPSpm">Continue</a>
        </di>
    </div>
    <div class="content" >
        <di class="lap5">
            <img src="https://i5.walmartimages.com/asr/8e0e8120-2aab-4f0d-9ed7-141a3fb8a54a.0a9a392ca1a6cd3db9fc91c03dbf3c8b.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF" alt="">
            <a href="https://bit.ly/3Dl9xeN">Continue</a>
        </di>
    </div>
</div>



{% endblock %}