{% extends 'base.html' %}

{% block main %}

<div class="row1">
    <div class="content" >
        <di class="lap1">
            <img src="https://i5.walmartimages.com/asr/78d2ce73-66aa-4634-afc7-1858e8a398eb.3e376008d3d4d407238d8969ea96765e.jpeg" alt="">
            <a href="https://bit.ly/3z5oO0Y">Continue</a>
        </di>
    </div>
    <div class="content" >
        <di class="lap2">
            <img src="https://i5.walmartimages.com/asr/fdb408cb-51fd-4ee2-a766-a567abf71721.96d149915306c9a2fe1e034d8ec86be5.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF" alt="">
            <a href="https://bit.ly/3CWLlOG">Continue</a>
        </di>
    </div>
    <div class="content" >
        <di class="lap3">
            <img src="https://i5.walmartimages.com/asr/6ffb1a06-6899-4f3a-928b-6c8d215023d2.03d011d7a1576febc9b9fee50fc5be9a.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF" alt="">
            <a href="https://bit.ly/3shxAVZ">Continue</a>
        </di>
    </div>
    <div class="content" >
        <di class="lap4">
            <img src="https://i5.walmartimages.com/asr/24abce54-1aff-4d6b-b306-c8f06f8ab04a.228e09ac0282601b29556e25dbd3ddf0.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF" alt="">
            <a href="https://bit.ly/3eX0w2m">Continue</a>
        </di>
    </div>
    <div class="content" >
        <di class="lap5">
            <img src="https://i5.walmartimages.com/asr/b4355676-2de8-46a4-8556-13dfc806701c.659bdf512fdf7ed04ef0368f72396dde.jpeg" alt="">
            <a href="https://bit.ly/3gz4Gh9">Continue</a>
        </di>
    </div>
</div>


<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<div class="row1">
    <div class="content" >
        <di class="lap1">
            <img src="https://i5.walmartimages.com/asr/21817d32-5ea2-4b49-96ab-f2e9b74a63ef.a9e9ff64d3570b84aa2a8dfb889aa288.jpeg" alt="">
            <a href="https://bit.ly/3TjvGQp">Continue</a>
        </di>
    </div>
    <div class="content" >
        <di class="lap2">
            <img src="https://i5.walmartimages.com/asr/010cd5f2-2640-447c-b456-ff47ffce44b1.1d87f221357c127bcdb754675a2c7873.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF" alt="">
            <a href="https://bit.ly/3CUz9Oh">Continue</a>
        </di>
    </div>
    <div class="content" >
        <di class="lap3">
            <img src="https://i5.walmartimages.com/asr/e048df8a-cf3a-4c72-ad83-4d4a50bd45b2.640d86f96fa8ab81243b3bf6b9b95b7c.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF" alt="">
            <a href="https://bit.ly/3DirECd">Continue</a>
        </di>
    </div>
    <div class="content" >
        <di class="lap4">
            <img src="https://i5.walmartimages.com/asr/b08e5aba-b98b-4413-927e-7a02facccd39.9c0581d31d5206eae5d2a694243b30c2.jpeg" alt="">
            <a href="https://bit.ly/3z6rEmh">Continue</a>
        </di>
    </div>
    <div class="content" >
        <di class="lap5">
            <img src="https://i5.walmartimages.com/asr/46c8ef21-511d-4bd5-bf95-c9facd72931f.230a1d5edf1ea68eeef80be5c868e9cb.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF" alt="">
            <a href="https://bit.ly/3z071Ij">Continue</a>
        </di>
    </div>
</div>


<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<div class="row1">
    <div class="content" >
        <di class="lap1">
            <img src="https://i5.walmartimages.com/asr/21817d32-5ea2-4b49-96ab-f2e9b74a63ef.a9e9ff64d3570b84aa2a8dfb889aa288.jpeg" alt="">
            <a href="https://bit.ly/3SoLEYb">Continue</a>
        </di>
    </div>
    <div class="content" >
        <di class="lap2">
            <img src="https://i5.walmartimages.com/asr/0a0a0427-a436-4ded-acce-936b933b1c38.03d49a2a3f4fb25f04d4c2250be7ddc2.jpeg" alt="">
            <a href="https://bit.ly/3TIG2sT">Continue</a>
        </di>
    </div>
    <div class="content" >
        <di class="lap3">
            <img src="https://i5.walmartimages.com/asr/9bbfd5a6-07ad-4660-90ef-2b9217443dba.ac35f5dbcdff7e5f0e3342185ac6d709.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF" alt="">
            <a href="https://bit.ly/3VPYxNM">Continue</a>
        </di>
    </div>
    <div class="content" >
        <di class="lap4">
            <img src="https://i5.walmartimages.com/asr/0d92af74-9dd9-4c15-98b7-628ad47dc89b_3.68e0e8886d168f167c6f02257c247bc4.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF" alt="">
            <a href="https://bit.ly/3CW70GE">Continue</a>
        </di>
    </div>
    <div class="content" >
        <di class="lap5">
            <img src="https://i5.walmartimages.com/asr/a3f2f0e8-0ee0-4bf0-961a-625684deb8b3_2.e3a310eff8d08005401b06405191e471.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF" alt="">
            <a href="https://bit.ly/3z071Ij">Continue</a>
        </di>
    </div>
</div>


{% endblock %}